@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Zen+Dots&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-main: 'Zen Dots', system-ui, sans-serif;
  --font-normal: 'Josefin Sans', sans-serif;
}

@layer base {
  body {
    font-family: var(--font-normal);
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-main);
  }
}

@layer utilities {
  @keyframes wave-horizontal {
    0% { transform: translateY(-50%) rotate(0deg); }
    100% { transform: translateY(-50%) rotate(360deg); }
  }
  .animate-wave-h {
    animation: wave-horizontal 3s linear infinite;
  }
}
